:root{
--text-color: #171424;
}

.icon{
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    margin-right: 100px;
}

.icon:hover{
    color: #7e7e7e;
}

.book{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #ccc;
    box-shadow: -2px 0 4px hsla(0 4% 15%/ 10%);
    transition: 0.3s;
}

.book.active{
    right: 0;
}

.book-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

#close-book{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    display: inline-block;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #171424;
}


.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
  }

  .modal-content {
    margin: 60px;
    width: 90%;
    height: 80%;
    object-fit: cover;
  }
  
  /* Estilos para o botão de fechar */
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }

  .close:hover{
    color: #7e7e7e;
  }
